* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Norse-Bold";
  src: url("Norse-Bold.otf");
}

body {
  background-color: #222;
}
.container {
  display: flex;
  width: 920px;
  margin: auto;
}
.left {
  width: 340px;
  height: 100vh;
  background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.right {
  width: 580px;
  background-color: #f9fafb;
}

.left-text {
  background-color: #00000080;
  color: white;
  font-size: 3em;
  text-align: center;
}
p {
  padding: 0 30px;
  font-size: 14px;
  margin: 20px 0;
}

.left-text img {
  vertical-align: sub;
}
.left-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 20px 8px;
  font-family: Norse-Bold;
  font-size: 61px;
  margin: 0;
}

.left {
  position: relative;
}
.left-text {
  position: absolute;
  width: 100%;
  top: 143px;
}

fieldset {
  background-color: #fff;
  border: none;
  box-shadow: 0 5px 5px #eee;
  margin: 20px 0;
}

.right > p:first-child {
  margin-top: 100px;
}

div > p {
  font-weight: bold;
}

.cta {
  font-weight: bold;
}

.login {
  font-weight: normal;
  font-size: small;
}

button {
  padding: 5px 30px;
  background-color: #596d48;
  border: none;
  color: white;
  border-radius: 5px;
}

.fieldRow {
  display: grid;
  grid-template-columns: 200px 200px;
}

.login a {
  color: #596d48;
  text-decoration: none;
}
label {
  text-transform: uppercase;
  font-size: x-small;
  letter-spacing: 2px;
}
