* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
}
.container {
  display: flex;
  width: 920px;
  margin: auto;
}
.left {
  width: 340px;
  height: 100vh;
  background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.right {
  width: 580px;
  background-color: #f9fafb;
}

.left-text {
  background-color: #00000080;
  color: white;
  font-size: 3em;
  text-align: center;
}
p {
  padding: 0 20px;
}

.left-text img {
  vertical-align: middle;
}
.left-text {
  padding: 10px;
}

.left {
  position: relative;
}
.left-text {
  position: absolute;
  width: 100%;
  top: 145px;
}
